src/main/mule/spring-authorization.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6594b771-1bec-4ad3-aac0-0ae995a0e53c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="a60ffa3d-6213-4089-89e9-e1fc89a1e26e" files="beans.xml" />
	
	<spring:security-manager>
    <spring:delegate-security-provider
    
      name="memory-provider"
      delegate-ref="authenticationManager" />
  </spring:security-manager>
  <flow name="spring-authorizationFlow" doc:id="f74f0ca3-d20d-4342-8682-b09bbd71559b" >
		<http:listener doc:name="Listener" doc:id="4c5769ac-3551-46c4-a488-104356212615" config-ref="HTTP_Listener_config" path="/test"/>
 <logger level="INFO" doc:name="Logger" doc:id="9448859e-835c-4107-9426-badc0d7879cd" message="#[attributes]"/>
		<http:basic-security-filter
      realm="mule" />
      <logger level="INFO" doc:name="Logger" doc:id="e7b85b8a-e35e-45c4-b0d1-9913be1aa2c0" message="#[attributes]"/>
		<spring:authorization-filter
        requiredAuthorities="ROLE_ADMIN" />		<logger level="INFO" doc:name="Logger" doc:id="b214ee4e-99fa-460b-bcfd-484eebcd2cab" message="#[attributes]"/>
		<ee:transform doc:name="Transform Message" doc:id="85fb428a-4a07-436f-9fc9-d542be7ad8e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
